html, body, #root {
  min-height: 100vh;
  background: linear-gradient(135deg, #1f293a 0%, #2c4766 100%);
  font-family: 'Poppins', sans-serif;
  color: #0ef;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #0ef #1f293a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background: #0ef;
  color: #1f293a;
}
